<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<include file="$(find parbot_master)/launch/Vision_Minimal.launch" />
	<include file="$(find visp_auto_tracker)/launch/parbot_webcam_tracking.launch" />
	<include file="$(find parbot_pathplanning)/launch/mapping.launch" />
	<include file="$(find parbot_motion_planning)/launch/motion_planning.launch" />
    <include file="$(find parbot_ui)/launch/emergency_stop.launch" />
    <include file="$(find pixy)/launch/pixy.launch" />
	<include file="$(find parbot_motor_control)/launch/motor_control.launch" />
</launch>
