<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
    <node name="roboteq_mc_nxtgen_driver" pkg="roboteq_mc_nxtgen_driver"
        type="driver.py" output="screen">
    </node>
    <node name="roboteq_mc_nxtgen_driver_tests" 
            pkg="roboteq_mc_nxtgen_driver_tests"
            type="test_commands.py" output="screen">
        <param name="test" value="open_loop_no_knmtx" />
    </node>
</launch>
